<% @events.each do |event| %>
 <tr>
<td><%=  event.start_time %></td>
<td><%= link_to event.all_slacks, edit_event_path(event)%>
<td><%= link_to event.summary, controller:'events', action: :show, format: :ics, :id => event.id %>
</td>
</tr>
 <% end %>
