<div class="col-md-4 col-md-offset-4">
    <h2>Edit</h2>
    <h3><%= @event.summary %></h3>
    <hr>
 <%= simple_form_for @event do |e| %>
  <div class="form-group">
  <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
  <%= e.submit %>
  </div>
  <% end %>
</div>
