<div class="col-md-12">
  <div class="event">
    <%= link_to("New event", new_event_path, class:"btn btn-primary pull-right") %>
    </div>
    <table class="table table-hover">
    <thead>
      <tr>

        <td>summary</td>
        <td>start_time</td>
        <td>end_time</td>
        <td>Slack ID</td>
      </tr>
    </thead>
    <tbody>


     <% @events.each do |event| %>
      <tr>
     <td><%= link_to(event.summary, event_path(event)) %></td>
     <td><%= event.start_time %></td>
     <td><%= event.end_time %></td>

      <% end %>
   </tr>

    </tbody>
    </table>

</div>
